In [9]:
people = {
    'first': ['ali', 'sani', 'amir'],
    'second': ['test1','test2','test2'],
    'email': ['t1@gmail.com','t2@gmail.com','t3@gmail.com']
}

In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame(people)

In [11]:
df

  first second         email
0   ali  test1  t1@gmail.com
1  sani  test2  t2@gmail.com
2  amir  test2  t3@gmail.com

In [12]:
df['email']

0    t1@gmail.com
1    t2@gmail.com
2    t3@gmail.com
Name: email, dtype: object

In [13]:
 df.set_index('email')

             first second
email
t1@gmail.com   ali  test1
t2@gmail.com  sani  test2
t3@gmail.com  amir  test2

In [14]:
df

  first second         email
0   ali  test1  t1@gmail.com
1  sani  test2  t2@gmail.com
2  amir  test2  t3@gmail.com

In [15]:
df.set_index('email', inplace=True)

In [16]:
df

             first second
email
t1@gmail.com   ali  test1
t2@gmail.com  sani  test2
t3@gmail.com  amir  test2

In [17]:
df.index

Index(['t1@gmail.com', 't2@gmail.com', 't3@gmail.com'], dtype='object', name='email')

In [18]:
df.loc['t1@gmail.com']

first       ali
second    test1
Name: t1@gmail.com, dtype: object

In [20]:
df.loc['t1@gmail.com', 'second']

'test1'

In [21]:
df.loc[0]

KeyError: 0

In [22]:
df.iloc[0]

first       ali
second    test1
Name: t1@gmail.com, dtype: object

# Reset indexes to 0 and 1

In [23]:
df.reset_index(inplace=True)
df

          email first second
0  t1@gmail.com   ali  test1
1  t2@gmail.com  sani  test2
2  t3@gmail.com  amir  test2